body {
  height: 200vh; /* For Checking Scroll Issue */
  background: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c);
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}