* {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(238, 238, 238);
}


.button-container {
  display: flex;
  flex-direction: column;
}


.button-box {
  padding: 16px 40px;
  border: none;
  border-radius: 8px;
  background: var(--i);
  transition: 0.2s;
}
.button-box:hover {
  box-shadow: 0 0px 8px 0px var(--i);
}
.button-box:not(:last-child) {
  margin-bottom: 40px;
}
.button-box div{
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.4s;
  pointer-events: none;
}

.pointer {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
}

.pointer.button-hover {
  transform: scale(5);
  background: #fff;
  opacity: .2;
}